---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from '../components/home/Home.astro';
import '@fontsource-variable/red-hat-display';
import Links from '../components/Links.astro';
---

<Layout title="Home" >
	<main >
		<Home />
		<Links />
	</main>
</Layout>

